.content-area {
    background-color: #ffffff;
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 5% 20%;
}

.content-area .list-header {
    display: grid;
    grid-template-columns: auto 8em 4em;
    align-items: end;
    padding: 1em 0;
    border-bottom: 1px solid black;
}

.content-area .date-area {
    display: flex;
    justify-content: end;
    /*align-items: center;*/
}

.content-area .list-header .title-area span {
    font-size: 1.7em;
    font-weight: bold;
}

.content-area .list-header .date-area span {
    font-size: 1.3em;
    font-weight: bold;
}

.content-area .control-area {
    display: flex;
    justify-content: end;
    gap: 0.7em;
}

.content-area img {
    filter: invert(100%) sepia(84%) saturate(78%) hue-rotate(183deg) brightness(115%) contrast(87%);
}

.content-area ol li + li {
    border-top: 1px solid black;
}

.add-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.add-task .add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
