.signup-container {
    background-color: #e9e4df;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-area {
    background-color: cornflowerblue;
    border: 1px solid black;
    width: 25%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.signup-area .signup-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.signup-area .signup-title img {
    height: 5em;
}

.signup-area .signup-title h1 {
    font-size: 2em;
}

.signup-area .signup-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

}

.signup-area .signup-line label {
    display: flex;
    align-items: center;
    justify-content: right;
}

.signup-area .signup-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.signup-area .signup-buttons button {
    padding: 1em;
    width: 20%;
    border-radius: 15px;
    background-color: lightskyblue;
}
