.task {
    display: grid;
    grid-template-columns: auto 8em 4em;
    align-items: center;
    gap: 0.7em;
    padding: 1em 0;
}

.content-area li .title-area {
    display: flex;
    align-items: center;
    gap: 1em;
}

.content-area li .title-area img {
    width: 1em;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(10deg) brightness(97%) contrast(103%);
}

.content-area .task:hover {
    font-size: 1.1em;
    background-color: #afe7f3;
}